<!DOCTYPE html>
<html>
<head>
<title> Home Page </title>
</head>
<style>
    #home{
        background-color: #bd8e59;
    }
</style>
<body id="home">
    <h1>Hubspot Mini App</h1>
    <br>
    <h1>User_id - <%=userdata.user_id%></h1>
    <h1>Portal Id - <%=userdata.portal_id%></h1>
    <h2><a href="/sudha/deals">Deals</a></h2>
</body>
</html>