<!DOCTYPE html>

<html>

<head>

<title> Home Page </title>
</head>
<style>
    #home{
        background-color: #bd8e59;
    }
</style>

    <body id="home">

     

       <h1>Hubspot Mini App</h1>

       <br>

       <h2><a href="/sudha/deals">Deals</a></h2>

     





</body>

</html>