<!DOCTYPE html>
<html>
<head>
<title> Logout Page </title>
</head>
<body id="logout">

    <h1>Hubspot Mini App</h1>
    <br>
    <h2><a href="/sudha/install">Install App again</a></h2>
</body>
</html>